---
layout: archive
---

{{ content }}

{% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}

{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    
    <div class="custom-grid archive-grid">
      {% for post in year.items %}
        <a href="{{ post.url | relative_url }}" class="grid-item always-visible">
          {% if post.header.teaser %}
            <img src="{{ post.header.teaser | relative_url }}" alt="{{ post.title }}">
          {% elsif post.header.image %}
            <img src="{{ post.header.image | relative_url }}" alt="{{ post.title }}">
          {% else %}
            <img src="/assets/images/default-thumbnail.jpg" alt="{{ post.title }}">
          {% endif %}
          
          <div class="grid-overlay">
            <h3 class="grid-title">{{ post.title }}</h3>
          </div>
        </a>
      {% endfor %}
    </div>
    
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}