---
layout: archive
title: "Projects"
---

{{ content }}

{% assign project_tag = "Projects" %}

<div class="custom-grid archive-grid">
  {% for tag in site.tags %}
    {% if tag[0] == project_tag %}
      {% for post in tag.last %}
        <a href="{{ post.url | relative_url }}" class="grid-item always-visible">
          {% if post.header.teaser %}
            <img src="{{ post.header.teaser | relative_url }}" alt="{{ post.title }}">
          {% elsif post.header.image %}
            <img src="{{ post.header.image | relative_url }}" alt="{{ post.title }}">
          {% else %}
            <img src="/assets/images/default-thumbnail.jpg" alt="{{ post.title }}">
          {% endif %}
          
          <div class="grid-overlay">
            <h3 class="grid-title">{{ post.title }}</h3>
          </div>
        </a>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>

<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>